# CUPS Project Environment Variables
CUPS_USER=apiuser
CUPS_PASSWORD=strongpass

# Database settings
POSTGRES_USER=postgres  
POSTGRES_DB=postgres

# API settings
API_USER=api_user
API_PASSWORD=api_password

# pipeline worker settings
PIPELINE_USER=pipeline_worker
PIPELINE_PASSWORD=pipeline_password

# exporter settings
EXPORTER_USER=postgres_exporter
POSTGRES_EXPORTER_PASSWORD=exporter_password

# Grafana user settings
GRAFANA_USER=grafana_user
GRAFANA_USER_PASSWORD=grafana_user_password